:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

*{
  box-sizing: border-box;
}

body{    
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #51001A;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  width: 100%;
}

.titulo h1{
  text-transform: uppercase;
  cursor: pointer;
}

.redes{
  list-style: none;
}

.redes li {
  display: inline-block;
  padding: 0 20px;
}

.redes a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.hamburguesa{
  display: none;
}

.hamburguesa div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.header-titulo{
    color: #ff6f00;
    line-height: 22px;
}

.articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.titulo{
    color: #111;
}

.receta{
    color: black;
    text-align: left;
    margin: 10px;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center
}

.imagen {
    max-width: 100%;
    max-height:100%;
}
  
.texto {
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
}

.receta-titulo{
  color: #000000;
}


form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}
  
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
  
input[type="submit"] {
    background-color: rgba(255,111,0,255);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}
  
label {
      font-size:16px; 
      font-weight:bold; 
      color:#000000; 
      display:block; 
      margin-bottom:10px
}


/*Responsive Nav-Bar etc....*/

@media screen and (max-width: 1024px) {
  .redes {
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #51001A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
  }

  .redes li {
    opacity: 0;
  }

  .hamburguesa {
    display: block;
    cursor: pointer;
  }
}

.redes.nav-active {
  transform: translateX(0);
}

.redes li {
  animation: navLinkFade 0.5s ease forwards;
  animation-fill-mode: none;
}

.hamburguesa.toggle .line1 {
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

.hamburguesa.toggle .line2 {
  opacity: 0;
}

.hamburguesa.toggle .line3 {
  transform: rotate(45deg);
  transition: all 0.3s ease;
}


@keyframes navLinkFade {
from {
  opacity: 0;
  transform: translateX(50px);
}
to {
  opacity: 1;
  transform: translateX(0px);
}
}